Evaluation_dataset
ZJU_dataset_2
FacadeDetection
datasets
images for the thesis
runs
fasterrcnn_checkpoint_2.pth
fasterrcnn_checkpoint.pth
fcnresnet_checkpoint.pth
fcnresnet_checkpoint_2.pth
unet_checkpoint.pth

~$24_CR_master thesis_WWR_update.docx
~WRL0005.tmp
2024_CR_master thesis_WWR_update.docx
2024_CR_master thesis_WWR.docx
CR_Master thesis_WWR_poster.PPTX
CR_Master thesis_WWR.pptx
presentation_points.docx
.ipynb_checkpoints

ref_2.bib
notes.md