Evaluation_dataset
ZJU_dataset_2
FacadeDetection
datasets
images for the thesis
runs
fasterrcnn_checkpoint_2.pth
fasterrcnn_checkpoint.pth
fcnresnet_checkpoint.pth
fcnresnet_checkpoint_2.pth
unet_checkpoint.pth
soest_duesseldorf_combined_valid_results_with_geometry_with_width.xlsx
~$soest_duesseldorf_combined_valid_results_with_geometry_with_width.xlsx
checkpoint.pth
u_net_checkpoint_2.pth
ref.bib
*.pth
*.tmp
chocolate-candy-3

~$esentation_points.docx

GroundingDINO_SwinT_OGC.py

~$24_CR_master thesis_WWR_update.docx
~WRL0005.tmp
2024_CR_master thesis_WWR.docx
CR_Master thesis_WWR_poster.PPTX
CR_Master thesis_WWR.pptx
presentation_points.docx
.ipynb_checkpoints
ZJU_dataset_augmented
ZJU_dataset_2_full

ref_2.bib
notes.md

trained_models

Presentation_materials

training_results
